  <!-- NAV -->
  <nav class="dark" id="navbar" aria-label="Main navigation">
    <a href="/" class="logo">
      <img src="/assets/images/logog.webp" alt="RIGNITC logo" style="filter: grayscale(1) invert(1);">
    </a>
    <div class="nav-links">
      <a href="/about/">About Us</a>
      <a href="/projects/">Projects</a>
      <a href="/achievements/">Achievements</a>
      <a href="/activities/">Activities</a>
      <a href="/team/">Team</a>
      <a href="/contact/">Contact</a>
    </div>
    <a class="btn-sponsor" href="../contact/?name=Your%20name%20%2F%20organization&email=contact%40company.com&message=Interested%20in%20discussing%20partnership%20or%20sponsorship%20possibilities%2E
">Sponsor US</a>
  </nav>
