  <!-- NAV -->
  <nav class="dark" id="navbar" aria-label="Main navigation">
    <a href="/pr-preview/pr-7/" class="logo">
      <img src="/pr-preview/pr-7/assets/images/logog.webp" alt="RIGNITC logo" style="filter: grayscale(1) invert(1);">
    </a>
    <div class="nav-links">
      <a href="/pr-preview/pr-7/about/">About Us</a>
      <a href="/pr-preview/pr-7/projects/">Projects</a>
      <a href="/pr-preview/pr-7/achievements/">Achievements</a>
      <a href="/pr-preview/pr-7/activities/">Activities</a>
      <a href="/pr-preview/pr-7/team/">Team</a>
      <a href="/pr-preview/pr-7/contact/">Contact</a>
      <a href="/blogs/">Blogs</a>
    </div>
    <a class="btn-sponsor" href="../contact/?name=Your%20name%20%2F%20organization&email=contact%40company.com&message=Interested%20in%20discussing%20partnership%20or%20sponsorship%20possibilities%2E
">Sponsor US</a>
  </nav>
